@model Quizzes.Models.Question

@{
    ViewData["Title"] = "Delete";
}

<br />
<h4>Czy na pewno chcesz usunąć to pytanie?</h4>
<hr />

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quiz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quiz.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" />
        <a asp-controller="Quizzes" asp-action="Details" asp-route-id="@Model.QuizId" class="btn btn-secondary">Anuluj</a>
    </form>
</div>
